@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary-color: #541554;
$secondary-color: #f4ede4;
$link-color: #1264a3;

html, body {
    font-family: 'Noto Sans', sans-serif;
}